/* ReSharper disable Html.TagNotResolved */
body
{
  background-color: #191919;
}

body, pre, table, tbody, tr, th, td
{
  margin: 0;
  padding: 0;
  border: 0;
}

td
{
  font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
  font-size: 13px;
  color: #dcdcdc;
  vertical-align: top;
  padding: 13px 5px;
  white-space: nowrap;
}

#line-numbers
{
  color: #888;
  text-align: right;
}

#line-opcodes
{
  color: #666;
}

#line-code
{
  width: 100%;
  background-color: #011;
}

/* font-colors */

cc /* comment */
{
  color: #93c763;
}

ci /* default-instruction */
{
  color: #569cd6;
}

cj /* jmp/branch/call/ret */
{
  color: #d7ba7d;
}

cr /* registers */
{
  color: #00c0c0;
}

cn /* numbers */
{
  color: #ffcd22;
}
